{% extends "basepage.njk" %}

{% block title %} Dook Ring {% endblock %}
{% block body %}
	<h1>The Dook Ring</h1>
	<div id="points">
		<section id="fast-facts">
			<p>The ring currently has {{ ring.length }} members!</p>
			<ul class="fact">
			{% for member in ring %}
				<li><a href="{{ member.url }}">{{ member.name }}</a></li>
			{% endfor %}
			</ul>
		</section>
		<section id="intro">
			<p>All of my friends live here! You can step through the ring using widget available at each website. Or you
			can return here, and go immediately to whichever you'd like!</p>
			<p>Are you a friend with a website and want to join? Hit me up on socials and I'll add you!</p>
		</section>
	</div>
{% endblock %}